* {
    font-family: "Roboto", monospace;
}

window {
    background-color: #3b4252;
    border-radius: 10px;
    border: 10px;
    border-color: #e1e1e1;
}

#input {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #222222;
    color: white;
}

#inner-box {
    background-color: #222222;
}

#outer-box {
    margin: 2px;
    padding: 10px;
    background-color: #222222;
    border-radius: 10px;
    border: 10px;
    border-color: #e1e1e1;
}

#scroll {
    margin: 5px;
}

#text {
    margin-left: 20px;
    padding: 4px;
    color: white;
}

/* #entry:nth-child(even) {
    background-color: #404552;
} */

#entry {
    padding: 12px;
}

#entry:selected {
    background-color: #353535;
    padding: 12px;
    border-radius: 15px;
    border: 10px;
    border-color: #e1e1e1;
}

#text:selected {
    background: transparent;
}
